@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}

body {
    height: 100vh;
    background-color: var(--OffBlack);
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1440px;
    background-color: var(--DarkGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    gap: 1rem;
    text-align: center;
}

.imagem {
    height: 80px;
}

.imagem img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

img:hover{
    scale: 1.5;
}

h1 {
    font-size: 1.8rem;
}

.Principal .p1 {
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--Green);
    margin-top: 0.5rem;
}

.Principal .p2 {
    font-size: 1rem;
    margin-top: 1rem;

}

.listas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

}

.listas ul {
    list-style: none;

}

.listas li {
    background-color: var(--Grey);
    margin-bottom: 1rem;
    padding: 0.8rem 6.1rem;
    border-radius: 0.5rem;

}

.listas a {
    width: 15rem;
    font-weight: 700;
    color: var(--White);
}

a:hover li {
    background-color: var(--Green);
    color: var(--OffBlack);
    animation: teste 0.5s ease-in-out;
}

@keyframes teste {
    0%{
        background-color: hsl(75, 38%, 57%);
    }
    100% {
        background-color: var(--Green);
        color: var(--OffBlack);
    }
}